/* General Styles */

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Orbitron', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
  overflow-x: hidden;
}

/* Header Styles */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#gridBG {
  position: fixed;
  bottom: 1;
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #225470;
  opacity: 0.55;
}

.header-content {
  z-index: 2;
  color: #f1f1f1;
  margin-top: 100px;
}

/* Random Quote Generator */
.quotes {
  padding: 20px 50px;
}

.quote-text {
  padding-bottom: 20px;
  font-size: 25px;
}

.controls {
  position: relative;
  bottom: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.button {
  display: block;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: inherit;
}

.tweet,
.new-quote {
  background-color: #8c4ab3;
  text-decoration: none;
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .button {
    border-radius: 4px;
    border: none;
    padding: 6px 14px;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
  }

  .quote-text {
    font-size: 18px;
  }
}


/* Section Styles */
.section {
  
}

.section-content {
  width: 100%;
  padding: 20px 40px;
  max-width: 960px;
  margin: auto;
  text-align: center;
}

.section-a {
  background: #fff;
  position: relative;
  margin: 300px auto 0;
}

.section-b {
  background: rgb(223, 221, 150);
  position: relative;
}

.container {
  
}